# Variables and their values, printing

The operation `=` assigns the variable `my_variable` on the left-hand side the value `5` that we write on the right-hand side.
We can have a look what is stored inside the variable by means of the function `print()`.

In [1]:
my_variable = 5
print(my_variable)

Hello World!

# Basic data types

Basic data types: 

* `int` are integers: ..., -2, -1, 0, 1, 2, ...
* `float` are floating-point numbers like $\pi$ or $e$ or $1.3$ or $-2.4$.
* `complex` are complex numbers like $i$ or $z = 1 + 2i$, where $i^2 = -1$.
* `bool` are booleans: either `True` or `False` 
* `str` are strings: either single characters like `'a'` or text like `'Hello World!'`

In [2]:
# integers
integer1 = 2
integer2 = -3

# floating-point numbers (aka real numbers in mathematics)
float1 = integer1/integer2
float2 = 1.79e308
float3 = 1.8e308 # everything above 1.8e308 is represented by 'inf' (64-bit double precision)
float4 = 5e-324
float5 = 1e-325 # everything closer to zero than 1e-325 is represented by 0.0

# complex numbers (real part + imaginary part)
complex1 = 1+1j
complex2 = 1-1j

bool1 = True
bool2 = False

string1 = ''
string2 = 'Hello World!'
string3 = 'I take part in the Carpentry Workshop!'
string4 = ' '
# Note: strings can also be 'added'.

We check the data type of a variable with the function `type()`.

In [6]:
print( type(integer1) )
print( type(float1) )
print( type(complex2) )
print( type(bool1) )
print( type(string3) )

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'str'>

# Basic mathematical operations

* On number types: addition `+`, multiplication `*`, subtraction `-`, division `/`, power `**`, ...
* On booleans: logical operations
* On strings: concatenation, duplication, ...

In [7]:
a = 2
print('a =',a)
b = 3
print('b =',b)
c = a+b
print('a + b =',c)
d = a*b
print('a * b =',d)

# or directly in the function print()
print('a - b =',a-b)
print('a/b =',a/b)

a = 2
b = 3
a + b = 5
a * b = 6
a - b = -1
a/b = 0.6666666666666666

In [8]:
# complex numbers 
z = a + 1j * b
print('z =',z)
print('Re(z) =',z.real)
print('Im(z) =',z.imag)

z_conjugate = z.conjugate()
print('z_conjugate =',z_conjugate)
print('Re(z) =',z_conjugate.real)
print('Im(z) =',z_conjugate.imag)

print('z * z_conjugate =',z*z_conjugate)
print('z/z_conjugate =',z/z_conjugate)

z = (2+3j)
Re(z) = 2.0
Im(z) = 3.0
z_conjugate = (2-3j)
Re(z) = 2.0
Im(z) = -3.0
z * z_conjugate = (13+0j)
z/z_conjugate = (-0.38461538461538464+0.9230769230769231j)

# Type casting (aka type conversion)

We can cast types into each other using the built-in python functions: int(), float(), complex(), bool(), str().

In [9]:
x1 = '1'
y1 = '2'
z1 = x1+y1 # 'adding' two strings concatenates them
print( z1 )
print( type(z1) )

12
<class 'str'>

In [10]:
x2 = int(x1)
y2 = int(y1)
z2 = x2+y2 # adding two integers results in another integer that contains the sum
print( z2 )
print( type(z2) )

3
<class 'int'>

In [11]:
# type conversion of an integer to a string
print( str(z2) )
print( type( str(z2) ) )

3
<class 'str'>

In [12]:
# conversion happens automatically to the 'larger' set of numbers
print( type(3) )

print( type(3+4) )

print( type(3+4.0) )

print( type(3+4.0+1j) )

<class 'int'>
<class 'int'>
<class 'float'>
<class 'complex'>

In [14]:
# casting floats to integer cuts off the decimal digits.
print( int(2.6) )
# casting complex numbers to reals does not work like this. This will result in an error.
#print( int(2.6 + 1j*3) )
# use real and imaginary parts instead
print( 'Re(z) =', (2.6 + 1j*3).real )
print( 'Im(z) =', (2.6 + 1j*3).imag )

2
Re(z) = 2.6
Im(z) = 3.0

In [15]:
# integers can be cast to booleans, everything except 0 maps to True, while 0 maps to False.
print( bool(0) )
print( bool(3) )
# it also works the other way: False -> 0, True -> 1
print( int(False) )
print( int(True) )

False
True
0
1

# Two ways of printing strings

In [17]:
name1 = 'Alice'
name2 = 'Bob'

In [19]:
# print one string after the other.
print('Both',name1,'and',name2,'are each five years old!')
# concatenate all strings together and print them (check the spacing!).
print('Both ' + name1 + ' and ' + name2 + ' are each five years old!')

Both Alice and Bob are each five years old!
Both Alice and Bob are each five years old!